name: Myrtha 
  
on:   
  push:
  schedule:
    - cron: "0 0 * * 0"

jobs:
  generate-spec:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/hwcicd/myrtha:latest
    steps:
    - uses: actions/checkout@v4
    - run: make
    - uses: actions/upload-artifact@v4
      with:
        name: Specification
        path: spec.out
